@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Noto+Serif:wght@400;700&family=Oswald:wght@300;500;700&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body{
    background-image: url(/fondodark1.jpg);
    background-size: cover;
    background-position: center;
    transition: 3s ease all;
}

header{
    display:Flex;
    align-items:center;
    flex-direction:Column;
    justify-content:center;
    margin-top:5px;
}

header h3{
    background-color:white;
    font-size:14px;
}

header figure img{
    width:50px;
    margin-left: 10px;
    border-radius:10px;
}

section{
    max-width:550px;
    margin: 20px auto;
    border-radius:5px;
    text-align:center;
    border-radius:15px;
    box-shadow:5px 5px 15px 5px #000000;
    background-image:url(/fondodark.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    padding-bottom:10px;

}
section h2{
color: #86FF2E;
text-shadow:none;
text-transform:uppercase;
font-size:40px;
}
section p {
    color:black;
    border-top-left-radius:15px;
}

.container-coins{
    margin:15px 0;
}


#fechaActual{
    font-size:26px;
    color:rgb(0, 0, 0);
    background-color:rgb(255, 255, 255);
    
}

span{
    font-size:46px;
    color:white;
    text-shadow:none,
}


@media (max-width: 425px){

section{
    width: 350px;
}
section h2 {
    font-size:30px;
}
}